#################################################################################


############################# [ OPERATING SYSTEMS ] #############################

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
[Dd]esktop.ini
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### macOS ###
Icon
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items
*.icloud

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

########################## [ IDE CONFIGURATION FILES ] ##########################


############################# [ ENVIRONMENT FILES ] #############################


############################## [ BUILD ARTIFACTS ] ##############################


########################### [ COMPILED OUTPUT FILES ] ###########################


############################## [ TEMPORARY FILES ] ##############################


############################## [ QUALITY REPORTS ] ##############################


############################# [ PACKAGED ARCHIVES ] #############################


############################# [ INTEGRATION FILES ] #############################


############################ [ MISCELLANEOUS FILES ] ############################


#################################################################################
